:root{
  --Neutral-900: hsl(227, 75%, 14%);
  --Neutral-800: hsl(226, 25%, 17%);
  --Neutral-700: hsl(225, 23%, 24%);
  --Neutral-600: hsl(226, 11%, 37%);
  --Neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100:hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  

  --red-400:hsl(3, 86%,64%);
  --Red-500: hsl(3, 71%, 56%);
  --Red-700: hsl(3,77%, 44%);

  --Gradient-Light:linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
  --Gradient-dark:linear-gradient(180deg, #040918 0%, #091540 100%);
}
body.dark{
  background: var(--Gradient-dark);

  .extension-card{
    background: #3b3f65;
  }
  .card-header,
  .extension-card p,
  h2,
  .btn{
    color: var(--neutral-100);
  }
  .remove{
    color: var(--neutral-100);
  }
  .main-header{
    background-color: #1b1b1b;
  }
  .theme-icon{
    background-color: #939090;
  }
 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Gradient-Light);
  color: var(--text);

}
.main-header {
  min-width: 70%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:var(--neutral-0);
  box-shadow: 0.1px  0.7px 1px ;
  outline: none;
}

.logo {width: 160px;}

.theme-icon {
  width: 32px;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  background-color: #d9d9d9;
 
}

.top-bar {
  width: 70%;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 6px 16px;
  border-radius: 20px;
  background: transparent;
  color: #090909;
  border: 1px solid hsl(226, 11%, 37%);
  cursor: pointer;
}

.btn:hover {
  background:var(--Red-500);
  color: var(--neutral-100);
}

.extensions {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  
}

.extension-card {
  background-color: var(--neutral-0);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0.7px solid rgb(234, 231, 231);
}
.extension-card--dark{
  background: var(--Gradient-dark);
  color: white;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.card-header img {
  width: 48px;
}

.extension-card p {
  margin: auto 10px ;
  line-height: 1.5;
  
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background: transparent;
  border: 1px solid var(--Neutral-300);
  color:var(--Neutral-800);
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
}
.remove:hover{
  background:var(--Red-700);
  color: var(--neutral-200);
}
.toggle {
  width: 38px;
  height: 20px;
  background-color: rgb(175, 170, 179);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.toggle::after {
  content: '';
  width: 16px;
  height: 16px;
  background: #fffefe;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}
.toggle.active {background: #ff4d5a;}
.toggle.active::after {left: 20px; }
.attribution {
  margin: 10px 0;
  font-size: 11px;
}

.attribution a {color: hsl(228, 45%, 44%);}

@media ( max-width: 35em) {
  .extension-list{
    
    width: auto
  }
  .top-bar{
    flex-direction: column;
  }
  .top-bar h2{
    margin-bottom: 10px;
  }
  .main-header{
    width: 100%;
  }
  .extensions{
    grid-template-columns: 1.5fr;
    width: 100%;
  }

}
@media( max-width: 768){
  .main-header{
    width: 100%;
  }
  .extensions{
    grid-template-columns: repeat(2 ,1fr);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
  }
}